.bac {
    position: relative;
    overflow: hidden; 
}

.bac::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5); 
    width: 100%;
    height: 100%;
    background-image: url('/home2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.05;
    pointer-events: none;
    z-index: 0;
}

.bac > * {
    position: relative;
    z-index: 1;
}